JOBNAME: makeGKtable
OS:		centos7
PROJECT: clas12
TRACK:   analysis
COMMAND: tar -zxvf sub.tgz && ./makeTable
MEMORY:  900 MB
CPU: 1
TIME: 60

OTHER_FILES:
/volatile/clas12/kenjo/hepgen/HEPGenPlusPlus-1.2-RC1/jsub/sub.tgz

INPUT_DATA: input

INPUT_FILES:
